a {
  outline:none;
}

.constrain {
  width: 862px !important;
  min-width: 862px !important;
  max-width: 862px !important;
  margin-left: auto;
  margin-right: auto;
}

.decoration {
  width: 125px !important;
}

.decorated {
  width: 250px !important;
}

.input {
  width: 378px !important;
}

.control {
  width: 385px !important;
  min-width: 385px !important;
  max-width: 385px !important;
}

.label {
  width: 127px !important;
}

.icons {
  min-height: 37px !important;
}

.note {
  line-height: 110%;
}

.text-label {
  color: #212519 !important;
  text-align: left !important;
}

.text-placeholder {
  color: #d6e0e0;
}

.invisible {
  visibility: hidden;
}
